<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/media.css">
</head>

<body>
    <section class="allabout">
    {{>header}}
        <h1>about us</h1>
        <p>Here you read all about us</p>
    </section>
    <section class="about">
        <div class="container">
            <div class="read_us">
                <h2>we are world's largest university</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum architecto rem officiis totam, dolorum
                    inventore impedit veritatis dolores earum praesentium aperiam. Beatae ipsa eius iure harum,
                    laboriosam facere ipsum eveniet ut, suscipit minima est.</p>
            </div>
            <div class="about_img">

            </div>
        </div>
    </section>


    {{>footer}}
  <script src="js/all_js.js"></script>


</body>

</html>