<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/media.css">
</head>

<body>
    <section class="contact_me">
        {{>header}}
        <div class="contact_t">
            <h1>CONTACT US</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, ex omnis eaque nihil delectus sunt soluta
                libero id provident in impedit aut, a dolorem similique non quisquam totam. Velit harum magni veniam?
            </p>
        </div>
        <div class="container">
            <div class="contact_info">
                <div class="address">
                    <div class="add_1">

                    <div class="add_icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="add_info">
                        <h2>Address
                        </h2>
                    <p>Pundag Ranchi,jharkhand,<br> near hata,834004</p>

                    </div>
                    </div>
                    <div class="add_1">

                    <div class="add_icon">
                        <i class="fas fa-phone-alt"></i>
                    </div>
                    <div class="add_phn">
                        <h2>Phone</h2>
                        <p>+91-7004405241</p>
                    </div>
                    </div>
                    <div class="add_1">

                    <div class="add_icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="add_info">
                        <h2>email
                        </h2>
                    <p>arshadansari5360@gmail.com</p>

                    </div>
                    </div>

                </div>
                <div class="user_info">
                    <h1>Send Message</h1>
                    <div class="inputbox">

                    <input type="text" name="name" placeholder="enter your name">
                    <span>FULNAME</span>
                    </div>
                    <div class="inputbox">

                    <input type="email" name="email" placeholder="enter your email Id"><br>
                    <span>email</span>
                    </div>
                    <div class="inputbox">

                    <input type="textarea" placeholder="please enter feedback...">
                    <span>feedback</span>
                    </div>
                    <input type="submit">
                </div>
            </div>
        </div>
    </section>
    <script src="js/all_js.js"></script>
</body>
    {{>footer}}

</html>