<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="../css/media.css">
    <title>arsh_university</title>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
</head>

<body>
    <section id="sec">

       {{>header}}

        <!-- <i class="fas fa-bars" style="position: relative;right: -420px;top: -30px;" onclick="showMenu()"></i> -->
        <div class="container">
            <div class="heading">
                <h1>JHAKHAND'S FINEST </h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore commodi facilis ullam?</p>
            </div>
            <div class="btn">

                <a href="">read more</a>
            </div>
        </div>
    </section>
    <section class="course_sec">
        <h1>COURSES WE OFFER</h1>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-4 course_div">
                <div class="c_heading">
                    <h2>intermediate</h2>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus earum sed ut eligendi
                    reiciendis rem eum et cupiditate, officiis eos corporis iusto illo expedita nobis voluptatum omnis
                    error dolor ducimus. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil eveniet maiores
                    perferendis eius
                    aperiam vero porro iure, autem sunt magni!</p>
                <a href="" class="read">learn more!</a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-4 course_div">
                <div class="c_heading">
                    <h2>graduation</h2>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus earum sed ut eligendi
                    reiciendis rem eum et cupiditate, officiis eos corporis iusto illo expedita nobis voluptatum omnis
                    error dolor ducimus. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil eveniet maiores
                    perferendis eius
                    aperiam vero porro iure, autem sunt magni!</p><a href="" class="read">learn more!</a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-4 course_div">
                <div class="c_heading">
                    <h2>postgraduation</h2>
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil eveniet maiores perferendis eius
                    aperiam vero porro iure, autem sunt magni!</p><a href="" class="read">learn more!</a>
            </div>
            <!-- <div class="col-lg-6 col-md-6 col-sm-4 course_div">
                <div class="c_heading">
                    <h2>pregraduation</h2>
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil eveniet maiores perferendis eius
                    aperiam vero porro iure, autem sunt magni!</p><a href="" class="read">learn more!</a>
            </div> -->
        </div>
    </section>
    <section class="global">
        <h1>OUR GLOBAL CAMPUS</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, eum.</p>
        <div class="row">
            <div class="camp-col">
                <img src="../images/eduford_img/london.png" alt="">
                <div class="layer">

                    <h2>LONDON</h2>
                </div>
            </div>
            <div class="camp-col">
                <img src="../images/eduford_img/washington.png" alt="">
                <div class="layer">

                    <h2>WASHINGTON</h2>
                </div>
            </div>
            <div class="camp-col">
                <img src="../images/eduford_img/newyork.png" alt="">
                <div class="layer">

                    <h2>NEWYORK</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- facilities sections -->
    <section class="facilities">
        <h1>OUR FACILITIES</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, quaerat.</p>
        <div class="row">
            <div class="facilities-col">
                <img src="../images/eduford_img/library.png" alt="">
                <h3>world class library</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, dolores.</p>
            </div>
            <div class="facilities-col">
                <img src="../images/eduford_img/basketball.png" alt="">
                <h3>sports</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, dolores.</p>
            </div>
            <div class="facilities-col">
                <img src="../images/eduford_img/cafeteria.png" alt="">
                <h3>tasty and healthy food</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, dolores.</p>
            </div>
        </div>
    </section>
    <!-- /* testimonials */ -->

    <section class="testimonials">
        <h1>what students says about our universities</h1>
        <div class="row">
            <div class="testimonial-box">
                <div class="testimonials-col">
                    <img src="../images/eduford_img/user1.jpg" alt="">
                    <h3>puja desai</h3>
                </div>
                <div class="comments">

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, reiciendis.</p>
                    

                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    
                </div>
            </div>
            <div class="testimonial-box">

                <div class="testimonials-col">
                    <img src="../images/eduford_img/user2.jpg" alt="">
                    <h3>raj kumar</h3>
                </div>
                <div class="comments">

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, reiciendis.</p>
                    <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                </div>
            </div>



        </div>

    </section>
    <section class="contact_us">
        <h1>Enroll for our best Online Cources Anywhere from world</h1>
        <a href="">CONTACT</a>
    </section>

  
       {{>footer}}
  <script src="js/all_js.js"></script>

</body>
<!-- <section>
    <div class="ki" style="height: 1222px;"></div>
</section> -->

</html>