<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <a id="logo" href=""><img src="../images/eduford_img/logo.png" alt=""></a>

        <div class="nav" id="nav_id">
            <ul id="nav_links">
                <i class="fas fa-times-circle" onclick="hideMenu()"></i>

                <!-- <i class="fa fa-times " onclick="hideMenu()"></i> -->
                <!-- <button class="btn"><img src="../images/close.webp" alt="" style="width:30px;height:30px"></button> -->
                <!-- <i class="fas fa-window-close" onclick="hideMenu()"></i> -->
                <li><a href="/">HOME</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="">SERVICES</a></li>
                <li><a href="/about">ABOUT US</a></li>
                <li><a href="">REGISTER</a></li>
                <li><a href="">LOG IN</a></li>
            </ul>
        </div>
        <!-- <i class="fa fa-bars"></i> -->
        <i class="fas fa-bars" onclick="showMenu()"></i>
</body>
</html>